@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

body {
  font-family: "Overpass";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: hsl(216, 12%, 8%);
  color: hsl(0, 0%, 100%);
  font-size: 15px;
}
